@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'TeXGyreAdventor-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('TeXGyreAdventor-Regular'), url('./fonts/texgyreadventor-regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'TeXGyreAdventor-Italic';
    font-style: normal;
    font-weight: normal;
    src: local('TeXGyreAdventor-Italic'), url('./fonts/texgyreadventor-italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'TeXGyreAdventor-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('TeXGyreAdventor-Bold'), url('./fonts/texgyreadventor-bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'TeXGyreAdventor-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('TeXGyreAdventor-BoldItalic'), url('./fonts/texgyreadventor-bolditalic.woff') format('woff');
    }

@import 'bubbles.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    font-family: 'TeXGyreAdventor-Regular', sans-serif;
}

html,body,#root{
    width: 100%;
    height: 100%;
}

html{
    height: 100vh;
    overflow: hidden;
    // background-color: #000;
}

body{
    background: rgb(16,114,201);
    background: linear-gradient(170deg, rgba(16,114,201,1) 0%, rgba(14,61,103,1) 100%);
    overflow: auto;
}

#root{
    display: flex;
    justify-content: center;
    // overflow: auto
    // overflow: hidden;
}

.App{
    width: 100%;
    height: 100%;
    // overflow: auto;
    max-width: 1366px;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .butterfly-wrapper{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        .Butterfly{
            width: 250px;
            position: absolute;
            bottom: 50px;
            left: 0;
            perspective: 500px;
            display: flex;
            perspective: 500px;
            transform: rotate(45deg);
        }
        .Butterfly::before,
.Butterfly::after {
  content: "";
  padding-top: 56%;
  flex: 1;
  background-image: url(./Butterfly.png);
  background-size: 200% 100%;
  animation: left 1s ease-in-out infinite alternate;
  transform-origin: right;
}

.Butterfly::after {
  background-position: right;
  animation-name: right;
  transform-origin: left;
}
 
        pointer-events: none; 
    }
    .Logo{
        width: 200px;
        height: auto !important;
        z-index: 1;
        
    }

    .Bottle{
        width: 50%;
        height: calc(100vh - 100px);
        object-fit: cover;
        object-position: top center;
        margin: 50px 0 25px 0;
        z-index: 1;
    }

    p{
        background-color: rgba(0, 0, 0, 0.1);
        padding:  50px;
        color: #fff;
        width: 60%;
        font-size: 1.25em;
        letter-spacing: 1.5px;
        margin: 25px 0;
        z-index: 1;
    }

    footer{
        margin: 100px 0 0 0;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        .Logo{
            width: 100px;
            height: auto;
        }

        .contact-block{
            margin: 25px 0;
            color: #fff;
            display: flex;
            justify-content: center;
            gap: 20px;
            a{
                width: 50px;
                height: 50px;
                display: grid;
                place-items: center;
                // padding: 20px;
                border-radius: 50px;
                border: 2px solid #fff;
                opacity: .8;
            }
            .icon{
                font-size: 1.5em;
                color: #fff;
            }
        }
    }
}


@keyframes left {
  from {
    transform: translateZ(10px) rotateY(-10deg)
  }
  to {
    transform:translateZ(0px) rotateY(50deg) 
  }
}

@keyframes right {
  from { 
    transform: translateZ(10px) rotateY(10deg)
  }
  to {
    transform:translateZ(0px) rotateY(-50deg) 
  }
}

@media screen and (max-width: 800px) {
    .App p{
        width: 90%;
        font-size: 1em;
        padding:  40px;
    }

    .App .Bottle{
        margin-top: 50px;
    }


    .App{
        .butterfly-wrapper{
            .Butterfly{
                transform: scale(0.5) rotate(135deg);
                top: 0px;
                bottom: unset;
                left: -60px;
            }
        }
    }
}